<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
<Properties>
    <Property name="LOG_DIR">/log</Property>
</Properties>
<Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p %c{1}:%L - %m%n"/>
    </Console>
    <File name="FILE" fileName="log/log.txt" immediateFlush="false" append="false">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p %c{1}:%L - %m%n"/>
    </File>
    <RollingFile
        name="ROLLING_FILE"
        fileName="log/time_log.txt"
        filePattern="log/time_log.%d{yyyy-MM-dd-hh}-%i.txt"
        ignoreExceptions="false">
        <PatternLayout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p %c{1}:%L - %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <Root level="DEBUG">
        <AppenderRef ref="CONSOLE" />
        <AppenderRef ref="FILE"/>
        <AppenderRef ref="ROLLING_FILE"/>
    </Root>
</Loggers>
</Configuration>
