channel = eq
db-type = "redis"
kafka-config = {
  server = "172.21.252.175:9092"
  topic = "topic_from_receiver"
}
redis-config = {
  host = "localhost"
  port = 6379
}
my-sql-config = {
  host = "localhost"
  port = 3306
  user = "admin"
  password = "pass"
  create-table = true
}